
httpx
msgpack
cloudpickle
requests
websockets
websocket-client
fastapi
uvicorn

psutil
radical.prof @ git+https://github.com/radical-cybertools/radical.profile.git@devel
rich

psij-python
rhapsody-py

